/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.618;
    color: #212529;
    text-align: left;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* container */
.container,
.container-fluid {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.container {
    max-width: 90%;
}
/* end / container */

/* grid */
.col-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.flex-start {
    justify-content: flex-start;
}

.col-gap-2 {
    column-gap: 8px;
}

.col-gap-3 {
    column-gap: 12px;
}

.col-gap-4 {
    column-gap: 16px;
}
/* end / grid */

/* utils */
.text-center {
    text-align: center;
}

.decoration-none {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    font-size: 17px;
    color: #ffffff;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-primary-outline {
    color: #0069d9;
    border: 2px solid #0069d9;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}
/* end / utils */

/* custom */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #777 rgb(232, 232, 232);
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}
  
*::-webkit-scrollbar-track {
    background: rgb(232, 232, 232);
}
  
*::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 0;
}
/* end / custom */

/* main */
.main {
    display: grid;
    width: 100%;
    min-height: 100vh;
}
.main-layout {
    grid-template-columns: 200px 1fr;
}
/* end / main */

.form-login {
    position: relative;
    width: 100%;
    max-width: 420px;
    padding: 1rem;
    background-color: rgba(255,255,255,.9);
    margin: auto;
}

.form-group .form-control {
    display: block;
    width: 100%;
    padding: 12px 10px; 
    border: 0;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.form-group label {
    display: block;
}

.form-group:not(:last-child) {
    margin-bottom: 2rem;
}

.form-group.hidden {
    margin: 0;
}

/* section */
.section {
    position: relative;
}

.section .section-header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #ccc; */
}

.section .section-header .search-bar {
    display: flex;
    grid-gap: 20px;
}

.section .section-header .search-bar .form-group {
    margin: 0;
}

.main-layout .section {
    margin: 30px 15px;
}

.section-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 20px;
}
/* end / section */

/* section login */
.section-login {
    padding: 50px 0;
}
/* end / section login */


/* nav */
.nav {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #3372ED 0%, #1138C2 100%);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li:not(:last-child) {
    margin-bottom: 7px;
}

.nav ul li .link {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

/* active navbar link */
.nav ul li .link.is-active {
    background-color: rgba(0, 0, 0, 0.15);
}

.nav .nav-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 30px 15px;
}

.logo-brand {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 0 auto 30px;
}
/* end / nav */


/* table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
          white-space: nowrap;
}  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
} 
tr:nth-child(even) {
    background-color: #f1f1f1;
}

table .options .link-icon {
    width: 34px;
    height: 34px;
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

table .options .link-icon span {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
table .options {
    border-top: 0;
    border-left: 0;
}

table .empty {
    width: 100%;
    border: 1px solid #ccc;
}

table .empty td {
    border: 0;
}
/* end / table */


/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 10;    
    display: grid;
    place-content: center;
    transition: all 200ms ease-in;
}

.modal.is-show {
    opacity: 1;
    visibility: visible;
}

.modal .modal-inner {
    position: relative;
    top: -30px;
    width: 480px;
    height: 200px;
    background-color: #fff;
    z-index: 20;
    padding: 30px 15px;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in;
}

.modal.is-show .modal-inner {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.modal .controls {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.modal h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

.modal h2 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: normal;
}
/* end / modal */