{% set route = app.request.get('_route') %}
{% set auth = app.request.get('_route') != 'dashboard-login' %}

{# {% set route = app.request.get('_route') %} #}
{% set admin = is_granted('ROLE_ADMIN') %}
{# https://auth0.com/blog/creating-your-first-symfony-app-and-adding-authentication/ #}
{# yarn encore dev --watch #}

<!DOCTYPE html>
<html>
    <head>
        {# Meta data #}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Dynamic page Title #}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Favicon #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Injected styles #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}     
        {# Injected scripts #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {# Injected content #}
        <main class="main {{ auth ? 'main-layout' }}">
            {{ auth ? include('views/default/navbar.html.twig', { admin, route }) }}
            {% block body %}{% endblock %}
        </main>
        
    </body>
</html>
